$greenColor: #4BC553;
$lightGreenColor: rgba(75, 197, 83, 0.2);
$yellowColor: #FFC700;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  box-sizing: inherit;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit
}

ul {
  list-style: none;
}

.container {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
}

.calendar {
  background: linear-gradient(90deg, #4BC553 11.26%, #70E25C 100%);
  padding: 45px;

  &__inner {
    max-width: 1097px;
    width: 100%;
  }

  &__years-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 336px;
    width: 100%;
    margin: 0 auto 13px;
    min-height: 31px;
  }

  &__years-item {

    a {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      color: #fff;
      
    transition: all 0.2s ease;
    }

    &.selected {
      a {
        font-size: 25px;
        line-height: 31px;
      }
    }
  }

  &__monthes-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__monthes-item {
    transition: all 0.2s ease;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
  }
}

.slider {
  &__inner {
    padding-top: 83px;
    padding-bottom: 70px;
    margin: 0 auto;
    width: 1268px;
    position: relative;
  }

  &__list {
    margin-bottom: 75px;
    min-height: 327px;
    position: relative;
    overflow: hidden;
  }

  &__item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1096px;
    height: 327px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    transition: transform 0.6s ease;
    &[data-pos="-1"] {
      transform: translate(-50%, -50%) translateX(-200%);
    }
    &[data-pos="-2"] {
      transform: translate(-50%, -50%) translateX(-350%);
    }
    &[data-pos="-3"] {
      transform: translate(-50%, -50%) translateX(-500%);
    }
    &[data-pos="1"] {
      transform: translate(-50%, -50%) translateX(150%);
    }
    &[data-pos="2"] {
      transform: translate(-50%, -50%) translateX(300%);
    }
    &[data-pos="3"] {
      transform: translate(-50%, -50%) translateX(450%);
    }

    &-image {
      min-width: 538px;
      min-height: 100%;
    }

    &-content {
      max-width: 537px;
      width: 100%;
      text-align: right;
    }

    &-date {
      text-align: left;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 5px;
    }

    &-title {
      text-align: left;
      font-size: 32px;
      line-height: 35px;
      font-weight: 700;
      margin-bottom: 21px;
    }

    &-text {
      text-align: left;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 37px;
    }

    &-button {
      display: inline-block;
      background-color: $greenColor;
      text-align: center;
      width: 203px;
      padding: 10px 0;
      cursor: pointer;
      border: none;
      border-radius: 27px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      color: #fff;

      &:focus {
        outline: none;
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    &-left,
    &-right {
      display: block;
      width: 38px;
      height: 38px;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.2s ease;
      border: none;
      position: relative;
      &.disabled {
        pointer-events: none;
      }
      &:active {
        transform: translateY(5%);
      }

      &:focus {
        outline: none;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__dots {
    margin: 0 auto;
    max-width: 169px;
    width: 100%;

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &-item {
      cursor: pointer;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.2s ease;
      a {
        display: block;
        width: 10px;
        height: 10px;
        background-color: $greenColor;
        opacity: 0.2;
        border-radius: 50%;
        pointer-events: none;
      }

      &.active {
        pointer-events: none;
        a {
          opacity: 1;
        }
      }
    }
  }
}

.news {
  padding-bottom: 132px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__slider {
    max-width: 650px;
    width: 100%;

    &-list {
      li+li {
        margin-top: 57px;
      }
    }

    &-item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      &__date {
        background: linear-gradient(90deg, #4BC553 11.26%, #70E25C 100%);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        min-width: 92px;
        height: 92px;
        margin-right: 20px;
        padding-top: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;

        &-day {
          font-size: 50px;
          line-height: 50px;
          font-weight: 700;
        }

        &-month {
          font-size: 15px;
          line-height: 19px;
          font-weight: 700;
        }
      }

      &__container {
        div+div {
          margin-top: 24px;
        }
      }

      &__time {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 2px;
      }

      &__title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 11px;
      }

      &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__image {
        width: 203px;
        height: 138px;
      }

      &__text {
        max-width: 312px;
      }
    }

    &-controls {
      margin: 0 0 0 auto;
      margin-top: 67px;
      max-width: 151px;
      width: 100%;

      &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      &-left,
      &-right {
        width: 5px;
        height: 9px;
        position: relative;
        display: block;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.2s ease;
        border: none;
        &.disabled {
          pointer-events: none;
        }
        &:active {
          transform: translateY(5%);
        }

        &:focus {
          outline: none;
        }

        img {
          width: 5px;
          height: 9px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &__item {
        transition: all 0.2s ease;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        &.active {
          color: $greenColor;
        }
      }
    }
  }

  &__top {
    max-width: 426px;
    width: 100%;

    &-title {
      font-size: 32px;
      line-height: 40px;
      font-weight: 700;
      color: $greenColor;
      margin-bottom: 19px;
    }

    &-list {
      width: 100%;

      li+li {
        margin-top: 19px;
      }
    }

    &-item {
      font-size: 18px;
      line-height: 22px;
      color: #000;
    }
  }
}