$greenColor: #4BC553;
$lightGreenColor: rgba(75, 197, 83, 0.2);
$yellowColor: #FFC700;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  box-sizing: inherit;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit
}

ul {
  list-style: none;
}

.container {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
}

.main {
  &__inner {
    padding: 100px 0;
    text-align: center;
  }
  &__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    color: $greenColor;
  }
  &__text {
    max-width: 538px;
    margin: 0 auto;
  }
}

.map {
  min-height: 609px;
  width: 100%;
  &__inner {
    width: 100%;
    min-height: 609px;
    iframe {
      width: 100%;
      min-height: 609px;
    }
  }
}